body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #C16F70 !important;
}
.user-card {
	width: 350px;
	height: 400px;
	margin-top: auto;
	margin-bottom: auto;
	background: #f39c12;
	position: relative;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.user-brand-container {
	height: 170px;
	width: 170px;
	text-align: center;
	position: absolute;
	padding: 10px;
	top: -75px;
	border-radius: 50%;
	background: #C16F70;
}
.user-brand {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form-container {
	margin-top: 100px;
}
.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 5px 2px 2px 5px !important;
	
}
.links {
	color: black;
}
a {
	color: #AD5A5B;
	background: #4F3434;
}